
html, body {
  height: 100%;
  background-image: url("images/backgroundcolor.png");
  background-repeat:no-repeat;
  background-size: auto;
  background-position:center;

}
header, main, footer {
  padding-left: 300px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

#menu{
  height:auto;
  width: 5%;

}
#linkicons{
  display: flex;
  justify-content: space-around;
}

#background{
  position: center;
  width:100%;
  height: auto;
}
#linkedin{
  width:6%;
  height:6%;
}
#github{
  width:6%;
  height:6%;
}
#gmail{
  width:6%;
  height: 6%;
}

.waves-effect.waves-blue .waves-ripple{
  background-color: rgba(56, 115, 207, 0.65);
}
