<!-- <img id= "background" src="images/background.png"> -->
<div id = "linkicons">
<img id= "linkedin" src="images/linkedin.png">
<img id= "github" src="images/github.png">
<img id= "galvanize" src="images/galvanize.png">
<img id= "gmail" src="images/gmail.png">
</div>
