<!DOCTYPE html>
<html>
  <head>    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
    <!-- <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/> -->
    <script type="text/javascript" src = "javascripts/app.js"></script>
    <link rel="shortcut icon" href="images/icon.png" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Austin T Edwards </title>
  </head>
  <body>
    <ul id="slide-out" class="side-nav">
  <li><div class="userView">
    <div class="background">
      <img src="images/blueback.png">
    </div>
    <a href="/"><img class="circle" src="images/austin.png"></a>
    <a href="/"><span class="white-text name">Austin T Edwards</span></a>
    <a href="mailto:austintedwards@gmail.com"><span class="white-text email">AustinTEdwards@gmail.com</span></a>
  </div></li>
  <li><a class="waves-effect waves-blue" href="/">Home</a></li>
  <li><a class="waves-effect waves-blue" href="about">About</a></li>
  <li><a class="waves-effect waves-blue" href="images/resume.pdf">Resume</a></li>
  <li><a class="waves-effect waves-blue" href="portfolio">Portfolio</a></li>
  <li><a class="waves-effect waves-blue" href="drawings">I used to draw</a></li>
  <!-- <li><a class="waves-effect waves-blue" href="https://itunes.apple.com/us/app/liarsdice-g41/id1227108328?ls=1&mt=8">Liar's Dice - Apple App Store</a></li> -->
  <!-- <li><a class="waves-effect waves-blue" href="https://play.google.com/store/apps/details?id=com.ionicframework.liarsdice615224">Liar's Dice - Google Play</a></li> -->
  <!-- <li><a class="waves-effect waves-blue" href="https://www.instagram.com/explore/tags/austke/">I used to draw</a></li> -->
</ul>
<a href="#" data-activates="slide-out" class="button-collapse" ><img id="menu" src="images/menu.png"></a>

    {{{body}}}
    <div id = "linkicons">
    <img id= "linkedin" src="images/linkedin.png">
    <img id= "github" src="images/github.png">
    <img id= "galvanize" src="images/galvanize.png">
    <img id= "gmail" src="images/gmail.png">
    </div>
  </body>
</html>
