@font-face {
    font-family: Righteous;
    src: url(Righteous-Regular.tff);
    /*color: #23225e;*/

}
body {
  height: 100%;
  background-image: url("../images/backgroundcolor.png");
  background-repeat:no-repeat;
  background-size: auto;
  background-position:center;
}

header, main, footer {
  padding-left: 300px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

#menu{
  height:auto;
  width: 5%;

}
#linkicons{
  display: flex;
  justify-content: space-around;
}

#background{
  position: center;
  width:100%;
  height: auto;
}
#linkedin{
  width:6%;
  height:6%;
}
#github{
  width:6%;
  height:6%;
}
#gmail{
  width:6%;
  height: 6%;
}
#galvanize{
  width:3.5%;
  height: 3.5%;
}

#aboutTitle{
  text-align: center;
  font-family: Righteous
}
.aboutStuff{
  position:relative;
  width:100%;
  height: 100%;
  padding-bottom: 100%;

}
.aboutContent{
  position: absolute;
  /*padding-bottom: 100%;*/
}
.me{
  position: absolute;
  width:100%;
  height: auto;
  opacity: 0.1;
}
.bio{
  font-size: 125%;
  font-family: 'Libre Baskerville', serif;
  text-indent: 50px;
  padding-right: 10%;
  padding-left: 10%;
  color: #23225e;
}




.waves-effect.waves-blue .waves-ripple{
  background-color: rgba(56, 115, 207, 0.65);
}
