
body {
  height: 100%;
  background-image: url("../images/backgroundcolor.png");
  background-repeat:repeat;
  background-size: auto;
  background-position:center;
}

header, main, footer {
  padding-left: 300px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

#menu{
  height:auto;
  width: 5%;

}
#linkicons{
  display: flex;
  justify-content: space-around;
}

#background{
  position: center;
  width:100%;
  height: auto;
}
#linkedin{
  width:6%;
  height:6%;
}
#github{
  width:6%;
  height:6%;
}
#gmail{
  width:6%;
  height: 6%;
}
#galvanize{
  width:3.5%;
  height: 3.5%;
}

.aboutTitle{
  text-align: center;
  font-family: 'Futura', sans-serif;
  color: #23225e;

}
.aboutStuff{
  /*position:relative;
  width:100%;
  height: 100%;*/
  /*padding-bottom: 100%;*/

}
/*.aboutContent{
  position: absolute;
  padding-bottom: 100%;
}*/
/*.me{
  position: absolute;
  width:50%;
  height: 100%;
  opacity: 0.1;
}*/
.bio{
  font-size: 115%;
  font-family: 'Libre Baskerville', serif;
  text-indent: 50px;
  padding-right: 12%;
  padding-left: 12%;
  color: #23225e;

}
.dice{
  display: block;
   margin: auto;
   width: 250px;
   color: #23225e;
   text-align: center;
   font-family: 'Righteous', cursive;
   color: #23225e;

}
.blueFire{
  display: block;
   margin: auto;
   color: #23225e;
   width: 250px;
   font-size: 250%;
   text-align: center;
   font-family: "Woody";
}

.gratune{
  display: block;
   margin: auto;
   color: #23225e;
   width: 250px;
   font-size: 250%;
   text-align: center;
}
.pixel{
  display: block;
   margin: auto;
   color: #23225e;
   width: 250px;
   font-size: 250%;
   text-align: center;
   font-family: "SubwayTickerGrid";

}
.grid-example{
  margin-top:50px;
  margin-bottom:50px;

}
.resume{
  display: block;
   margin: auto;
   width:75%;
   height: auto;
}
.drawings{
  display: block;
   margin: auto;
   /*width:200px;*/
   height: auto;
}


.waves-effect.waves-blue .waves-ripple{
  background-color: rgba(56, 115, 207, 0.65);
}
