body {
background-color: #08082b;
}

.topnav {
  overflow: hidden;
  background-color: #08082b;
  position: fixed;
  top:0;
  width: 100%;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active{
  background-color: #114B5F;
  color: #08082b;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

}

.botnav {
  overflow: hidden;
  background-color: #08082b;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
justify-content: space-around;
}


.botnav a:hover {
  background-color: #ddd;
  color: black;
}

/* .botnav a.active {
  background-color: #4CAF50;
  color: white;
} */

.botnav .icon {
  display: none;
}
.botnav img{
  width: 2.5%;
  height:2.5%;
}

@media screen and (max-width: 600px) {
  .botnav a:not(:first-child) {display: none;}
  .botnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .botnav.responsive .icon {
    position: absolute;
    right: 0;
    bottom:0;
  }
  .botnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

}
